
/*
////////////////////////////////////////
			copiado de Janela Musica menu inicial
			isto e a janela pop up
////////////////////////////////////////
*/
#PopUpJogo {
	width: 70%;
	height: 70%;
	position: fixed;
	top: 20%;
	left: 15%;
	display: inline-block;
	margin-left: 5%;
	background-color: #816F42;
}

#PopUpJogo * {
	font-size: 60px;
	text-shadow: #fbfdfd 0 0 3px;
	text-align: center;
}


#PopUpJogo #titulo{
	width: 100%;
	height: 20%;
	position: relative;
	font-size: 550%;
	top: 3%;
}

#PopUpJogo #detalhes{
	width: 100%;
	height: 10%;
	font-size: 35px;
	font-style: italic;
	margin-top: 15px;
}

#PopUpJogo img {
	width: 31%;
	height: 63%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-left: 38px;
	float: right;
}

#PopUpJogo #botons{
	width: 66%;
	height: 70%;
	display: inline-block;
}

#PopUpJogo #botons img {
	width: 18%;
	display: inline-block;
	margin-bottom: 15%;
	margin-left: 10%;
	border-radius: 50%;
	border: 5px solid #3F2D00;
}

#PopUpJogo #closeBotun {
	position: absolute;
	top: -30px;
	right: -55px;
	width: 8%;
	height: 10%;
	border: 5px solid #3F2D00;
	border-radius: 50%;
	background-color: red;
}

/*
	Tabela
*/
.topJogos {
	position: absolute;
	top: 27%;
	left: 1%;
	max-height: 30%;
	max-width: 30%;
}

.topJogos caption {
	background-color: orange;
	border: 5px solid #543D81;
}

.topJogos tr {
	background-color: #EFE26F;
	border: 2px solid black;
}

/*
////////////////////////////////////////
		JANELA DE JOGO
////////////////////////////////////////
*/
#gamePageId{
	height: 15%;
	width: 100%;
}


#janelaJogo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #543D81;
	border-radius: 2%;
}

#janelaJogo > #menu-jogo-inicial, #janelaJogo > #menu-jogo-inicial > ul,
#janelaJogo > #menu-jogo-pausa, #janelaJogo > #menu-jogo-pausa > ul
{
	width: 100%;
	height: 100%;
	position: absolute;
	list-style-type: none;
}

#janelaJogo > #menu-jogo-inicial > ul > li,
#janelaJogo > #menu-jogo-pausa > ul > li
 {
	height: 22%;
	width: 50%;
	margin-left: 25%;
	border: 3px solid black;
	background-color: seagreen;

	font-size: 30px;
	text-shadow: #fbfdfd 0 0 3px;
	text-align: center;
}

.exit-div, .pause-div{
	display: inline-block;
	max-height: 98%;
	max-width: 7%;
	background-color: yellowgreen;
}


/*
	Loading Bar
*/

#loading {
	height: 25%;
	width: 60%;
	position: absolute;
	top: 45%;
	left: 25%;
	background-color: seagreen;
}

#loading > p{
	font-size: 30px;
	text-shadow: dimgrey 0 0 3px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 43%;
}

#progressBar {
	position: absolute;
	top: 15%;
	left: 10%;
	width: 80%;
    height: 25%;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
	height: 100%;
	font-size: 20px;
    color: #111;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

/*
	SCORE Tag
*/
#score-tag{
	position: relative;
	top: -90%;
	left: 75%;
	
	background-color: lightslategray;
	
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	text-decoration: #111;
	
	height: 100%;
	width: 18%;
	
	border: 3px solid black;
	border-radius: 7%;
}

#score-header{
	position: absolute;
	top: 2%;
	
	height: 35%;
	width: 100%;
	margin: auto;
}

.count {
  position: absolute;
  top: 44%;
  
  height: 32%;
  width: 89%;
  
  padding: 14px 16px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  border-radius: 7%;
  background: orange;
}
.count.glow {
  text-shadow: 0 0 4px #ffffff;
}

/*
	EXIT AND PAUSE
*/

#pause-btn, #exit-btn{
	max-height: 33%;
	max-width: 98%;
	display: inline-block;
	align-content: center;
	border: 3px solid black;
}


/*
	Game Over
*/

#gameOver{
	text-align: center;
	position: relative;
	top: 30%;
	left: 35%;
	width: 35%;
	height: 40%;
	background-color: greenyellow;
}

#gameOver > p {
	border: 2px dotted slategrey;
}

.confirmationPopUp{
	text-align: center;
	background-color: skyblue;
	display: inline-block;
	position: relative;
	top: 7%;
	left: 46%;
	width: 13%;
}

.confirmationPopUp > .wrapButtons{
	background-color: grey;
	display: inline-block;
	width: 100%;
	height: 70%;
}

.confirmationPopUp > .wrapButtons > .yesB {
	background-color: lawngreen;
	display: inline-block;
	margin: 15%;
	
}

.confirmationPopUp > .wrapButtons > .noB {
	background-color: orangered;
	display: inline-block;
	margin: 15%;
}

#showPrize{
	position: relative;
	top: 0%;
	left: 39%;
	
	max-height: 20%;
	max-width: 20%;
}

#prizeImg{
	max-height: 20%;
	max-width: 20%;
}