
/*
////////////////////////////////////////
			copiado de Janela Musica menu inicial
			isto e a janela pop up
////////////////////////////////////////
*/

#PoPupMusica {
	width: 70%;
	height: 70%;
	position: fixed;
	top: 20%;
	left: 15%;
	display: inline-block;
	margin-left: 5%;
	background-color: #816F42;
	border: 8px solid #3F2D00;
}

#PoPupMusica * {
	font-size: 50px;
	text-shadow: #fbfdfd 0 0 3px;
	text-align: center;
	
}


#PoPupMusica #titulo{
	width: 100%;
	height: 20%;
	position: relative;
	top: 10%;
}

#PoPupMusica #detalhes{
	width: 100%;
	height: 10%;
	font-size: 25px;
	font-style: italic;
}


#PoPupMusica #album{
	width: 33%;
	height: 70%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-left: 5px;
}

#PoPupMusica #botons{
	width: 66%;
	height: 70%;
	display: inline-block;
}

#PoPupMusica #botons img {
	width: 18%;
	display: inline-block;
	margin-bottom: 23%;
	margin-left: 10%;
	border-radius: 50%;
	border: 5px solid #3F2D00;
}

#PoPupMusica #closeBotun {
	position: absolute;
	top: -30px;
	right: -55px;
	width: 8%;
	height: 10%;
	border: 5px solid #3F2D00;
	border-radius: 50%;
	background-color: red;
}


.m1 {
	background: url("../imgs/albuns/simonEgarfunkel.jpg");
}
.m2 {
	background: url("../imgs/albuns/Shakira_-_Oral_Fixation_Vol._2.jpg");
}
.m3 {
	background: url("../imgs/albuns/hotel-california-533cdcce254ac.jpg");
}
.m4 {
	background: url("../imgs/albuns/bobby.jpg");
}
.m5 {
	background: url("../imgs/albuns/Lightmyfire67.jpg");
}
.m6 {
	background: url("../imgs/albuns/081227964337_b.jpg");
}
.m7 {
	background: url("../imgs/albuns/jonycash.jpg");
}
.m8 {
	background: url("../imgs/albuns/SgtPepper.jpg");
}
.m9 {
	background: url("../imgs/albuns/Bruce-springsteen-born-to-run-single.jpg");
}
.m10 {
	background: url("../imgs/albuns/110.jpg");
}
.m11 {
	background: url("../imgs/albuns/BlowingUnauthorized.jpg");
}
.m12{
	background: url("../imgs/albuns/Linkin_Park_Hunting_Party.jpg");
}
.m13{
	background: url("../imgs/albuns/threedaysgrace.jpg");
}
.m14{
	background: url("../imgs/albuns/threedaysgrace.jpg");
}
.m15{
	background: url("../imgs/albuns/threedaysgrace.jpg");
}
.m16 {
	background: url("../imgs/albuns/threedaysgrace.jpg");
}
.m17{
	background: url("../imgs/albuns/Three_Days_Grace_-_One-X.jpg");
}
.m18{
	background: url("../imgs/albuns/Three_Days_Grace_-_One-X.jpg");
}
.m19{
	background: url("../imgs/albuns/Three_Days_Grace_-_One-X.jpg");
}
.m20{
	background: url("../imgs/albuns/Three_Days_Grace_-_One-X.jpg");
}
.m21{
	background: url("../imgs/albuns/evanescence.jpg");
}
.m22{
	background: url("../imgs/albuns/evanescence.jpg");
}
.m23{
	background: url("../imgs/albuns/evanescence.jpg");
}
.m24{
	background: url("../imgs/albuns/Hail-to-the-king-capa-avenged-sevenfold.jpg");
}
.m25{
	background: url("../imgs/albuns/ThreeDaysGrace_LifeStartsNow.jpg");
}