

/*
////////////////////////////////////////
			Janela lateral direita
////////////////////////////////////////
*/



#paginaJogos {
	position: absolute;
	top: 0px;
	display : inline-block;
	width: 75%;
	height: 94%;
	padding-left: 2%;
	border-radius: 25px;
	border: 5px solid #3F2D00;
	background: #10303C;
	margin-left: 2%;
}



/*
////////////////////////////////////////
			jogo entries
////////////////////////////////////////
*/

#objsJogos {
	height: 70%;
	width: 97%;
	margin-top: 2%;
}
#objsJogos *:not(#jogoNome){
	display : inline-block;
}

.jogoEntry {
	width : 20%;
	height : 40%;
	background-color: lightslategrey;
	margin: 3% 4% 0 0;
	border-radius: 6%;
	border: 5px solid #3F2D00;
	
}
.jogoEntry #btnFav:not(.favoritado) {
    background-color: #346476;
    
}
.jogoEntry #btnFav {
	width: 25%;
	height: 35%;
	position: relative;
	right: -31%;
	border-radius: 50%;
	border: 5px solid #3F2D00;
}

.jogoEntry img {
	max-height : 50%;
	max-width : 50%;
}
#jogoNome {
	font-size: 130%;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
    padding-top: 3%;
}

.jogoEntry > .jogosImagem {
	position: relative;
	left: 19px;
	top: 12px;
}
