

/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

.primary-1 { background-color: #FFD368 }
.primary-2 { background-color: #BC9C4E }
.primary-0 { background-color: #816F42 }
.primary-3 { background-color: #604B17 }
.primary-4 { background-color: #3F2D00 }

.secondary-1-1 { background-color: #7B59BE }
.secondary-1-2 { background-color: #543D81 }
.secondary-1-0 { background-color: #3E3158 }
.secondary-1-3 { background-color: #241442 }
.secondary-1-4 { background-color: #11042B }

.secondary-2-1 { background-color: #4D97B3 }
.secondary-2-2 { background-color: #346476 }
.secondary-2-0 { background-color: #2B4651 }
.secondary-2-3 { background-color: #10303C }
.secondary-2-4 { background-color: #011D27 }

/* end */

/* IMAGEM DE FUNDO */
.main-background{
	background-image: url(../imgs/background/plain_blue_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


html, body {
	height: 99%;
}


/**
////////////////////////////////////////
					composto	
////////////////////////////////////////
*/

.composto{
	text-align: left;
	width: 100%;
	height:120px;
	border-radius: 25px;
	
	/*TEXT GLOW effect*/
	color:#fbfdfd;
	text-shadow:#fbfdfd 0 0 3px;
	
}

.composto div {
	display: inline-block;
	height: 100%;
	margin: 0px;
	border-radius: 25px;
}
 
/**
* LEFT-CORNER
*/
.left-corner{
	
	width: 10%;
	/* esconder HOME -> tirar comments*/
	/*opacity: 0;*/
}

.left-corner img{
	max-height: 100px;
	width: 80%;
	position: relative;
	top: 10px;
	left: 20px;
	
}

/**
* main-corner
*/
.main-title{
	width: 69%;
	
	/*alinhamento texto*/
	text-align: center;
}

.main-title p {
	font-size: 50px;
	margin-bottom: 0%;
	margin-top: 53px;
	height: 50%;
}
	

/**
* RIGHT-CORNER
*/
.right-corner{
	width: 20%;
}

.right-corner div {
	height: 50%;
	width: 100%;
}

.right-corner img{
	width: 20%;
	height: 90%;
	margin-left: 10%;
	max-height: 100%;
	padding-top: 3px;
}
.right-corner .buttons{
	width: 100%;
}

.right-corner p{
    vertical-align: middle;
	text-align: center;
	border: 2px solid #3F2D00;
	color: #3F2D00;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	background: #BC9C4E;
	width: 80%;
	height: 40%;
	padding: 12px 0px 0px 0px;
	margin: auto;
	margin-top: 10px;
	
}


/**
////////////////////////////////////////
					BODY	
////////////////////////////////////////
*/
.janela-central {
	width: 100%;
	height: 80%;
	margin: auto;
	position: absolute;
	left: 0px;
}

.main-functions{
	/* distance from header */
	position: relative;
	top: 30%;
	
	/*TEXT GLOW effect*/
	color:#fbfdfd;
	text-shadow:#fbfdfd 0 0 3px;
	
	/*table border*/
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}


.main-functions td{
	border-radius: 25px;
	background-color: rgba(0,0,0,0);
	border: 2px solid #3F2D00;
	background: #BC9C4E; 
}
	
table {
	position: relative;
	margin: auto;
	width: 90%;
	
	/* table text*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	
	
	
}

table {
	/* border */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	border-collapse: separate;
    border-spacing: 35px 5px;
}


td {
   border: 1px solid #474747;
} 

tr.main-function-img {
	height: 150px;
	background-color: rgba(0,0,0,0);
}
tr.main-function-name {
	height: 20px;
	font-size: 120%;
	background-color: rgba(0,0,0,0);
}







/*
////////////////////////////////////////
					MENU LATERAL
////////////////////////////////////////
*/

.menu-lateral{
	display: inline-block;
	position: relative;
	top:0;
	left:0;
	width:20%;
	height: 100%;
}

.menu-lateral ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
	height: 100%;
}

.menu-lateral ul li {
	height: 25%;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: white;
    background-color: #005555;
    display: block;
	height: 100%;
	border: 2px solid #DB9E36;
	
}


.menu-lateral ul li a img{
	float: left;
	max-height: 80%;
	max-width: 30%;
	margin-top: 13%;
}

.menu-lateral ul li a h1{
	font-weight: bold;
    font-size: 200%;
	margin-top: 5%;
} 

.menu-lateral ul li a:visited {
    color: white;
}
 
.menu-lateral ul li .current {
    color: white;
    background-color: #5FD367;
}

/*
////////////////////////////////////////
				JANELA FUNCIONAL
////////////////////////////////////////
*/
.janela-funcional {
	width: 80%;
	height: 100%;
	margin: auto;
	position: absolute;
	right: 0px;
}