/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

.primary-1 {
	background-color: #FFD368
}
.primary-2 {
	background-color: #BC9C4E
}
.primary-0 {
	background-color: #816F42
}
.primary-3 {
	background-color: #604B17
}
.primary-4 {
	background-color: #3F2D00
}

.secondary-1-1 {
	background-color: #7B59BE
}
.secondary-1-2 {
	background-color: #543D81
}
.secondary-1-0 {
	background-color: #3E3158
}
.secondary-1-3 {
	background-color: #241442
}
.secondary-1-4 {
	background-color: #11042B
}

.secondary-2-1 {
	background-color: #4D97B3
}
.secondary-2-2 {
	background-color: #346476
}
.secondary-2-0 {
	background-color: #2B4651
}
.secondary-2-3 {
	background-color: #10303C
}
.secondary-2-4 {
	background-color: #011D27
}

.current {
	background-color: #4D97B3
}

/* end */

body {
	height: 99%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}

html {
	height: 100%;
	background-image: url(../imgs/background/plain_blue_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#central table {
	display: inline-block;
}

.favoritado {

	background-color: coral;
	box-shadow: 0px 0px 10px #EFE26F;
}

.liked {
	background-color: chartreuse;
	box-shadow: 0px 0px 10px #C7E9C0;
}

.disliked {

	background-color: crimson;
	box-shadow: 0px 0px 10px #E9C6C0;
}

/**
 ////////////////////////////////////////
 hack bootstrap cover
 ////////////////////////////////////////
 */

.flipster__nav {
	background-color: #346476;
	width: 60%;
	margin-left: 20%;
	border-radius: 25px;
	border: 5px solid #3F2D00;
}

#carousel img {
	height: 400px;
	width: 400px;
}
.flipster__nav__item--current > .flipster__nav__link, .flipster__nav__link:hover, .flipster__nav__link:focus {
	background-color: #4D97B3;
}
/**
 ////////////////////////////////////////
 composto
 ////////////////////////////////////////
 */

.composto {
	text-align: left;
	width: 99%;
	height: 120px;
	border-radius: 25px;
	border: 5px solid #3F2D00;
	/*TEXT GLOW effect*/
	color: #fbfdfd;
	text-shadow: #fbfdfd 0 0 3px;
}

.composto div {
	display: inline-block;
	height: 100%;
	margin: 0px;
	border-radius: 25px;
}

/**
 * LEFT-CORNER
 */
.left-corner {

	width: 10%;
	/* esconder HOME -> tirar comments*/
	/*opacity: 0;*/
}

.left-corner img {
	max-height: 100px;
	width: 80%;
	position: relative;
	top: 10px;
	left: 20px;
}

/**
 * main-corner
 */
.main-title {
	width: 69%;
	/*alinhamento texto*/
	text-align: center;
}

.main-title p {
	font-size: 50px;
	margin-bottom: 0%;
	margin-top: 53px;
	height: 50%;
    padding-left: 17%;
}

/**
 * RIGHT-CORNER
 */
.right-corner {
	width: 20%;
}

.right-corner div {
	height: 50%;
	width: 100%;
}
.right-corner img {
	width: 18%;
	height: 80%;
	margin-left: 4%;
	max-height: 100%;
	padding-top: 9px;
}
.right-corner .buttons {
	width: 100%;
}

.right-corner p {
	vertical-align: middle;
	text-align: center;
	border: 2px solid #3F2D00;
	color: #3F2D00;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	background: #BC9C4E;
	width: 80%;
	height: 40%;
	padding: 2px 0px 0px 0px;
	margin: auto;
	margin-top: 10px;
}

.main-user-profile > p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    text-shadow: #fbfdfd 0 0 3px;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/**
 ////////////////////////////////////////
 BODY
 ////////////////////////////////////////
 */
.janela-central {
	width: 100%;
	height: 80%;
	margin: auto;
	position: relative;
	top: 20px;
	margin: auto;
}

.main-functions {

	margin-left: 16%;
	margin-top: 8%;
	/*TEXT GLOW effect*/
	color: #fbfdfd;
	text-shadow: #fbfdfd 0 0 3px;
	/*table border*/
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.main-function-img img {
	width: 65%;
}

.main-functions td {
	border-radius: 25px;
	background-color: rgba(0,0,0,0);
	border: 5px solid #3F2D00;
	background: #346476;
}

table {
	position: relative;
	margin: auto;
	width: 75%;
	/* table text*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

table {
	/* border */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-collapse: separate;
	border-spacing: 35px 5px;
}

td {
	border: 1px solid #474747;
	width: 15%;
}

tr.main-function-img {
	height: 300px;
	width: 100%;
	background-color: rgba(0,0,0,0);
}
tr.main-function-name {
	height: 20px;
	font-size: 300%;
	background-color: rgba(0,0,0,0);
}

.main-function-name td p {
	margin: 0px;
}

.footer {
	background-color: #346476;
	text-align: center;
	padding: 1em;
	text-align: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
}
.footer marquee {
	width: 35%;
    color: white;
    font-weight: bold;
    background-color: #050A12;
    opacity: 0.8;
}


/*
 ////////////////////////////////////////
 MENU LATERAL
 ////////////////////////////////////////
 */

.menu-lateral {
	display: inline-block;
	width: 20%;
	height: 70%;
	position: relative;
	top: 5%;
}

.menu-lateral ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 30%;
}

.menu-lateral ul li {
	height: 25%;
}

.menu-lateral ul .current-menu {
	background-color: #2B4651;
}

.menu-lateral ul li {
	text-decoration: none;
	color: white;
	background-color: #346476;
	display: block;
	height: 100%;
	border: 2px solid #3F2D00;
}

.menu-lateral ul li * {
	display: inline-block;
}

.menu-lateral ul li img {
	max-width: 33%;
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
}

.menu-lateral ul li h1 {
	font-weight: bold;
	font-size: 200%;
	vertical-align: 125%;
	margin-left: 10px;
}

.menu-lateral ul li:visited {
	color: white;
}

.menu-lateral ul li.current {
	color: white;
	background-color: #5FD367;
}

/*
 ////////////////////////////////////////
 JANELA FUNCIONAL
 ////////////////////////////////////////
 */
.janela-funcional {
	width: 80%;
	height: 100%;
	margin: 2% auto;
	position: absolute;
	right: 0px;
	top: 0px;
}

#carousel {
	height: 100%;
}

/*
 ////////////////////////////////////////
 Janela Musica menu inicial
 ////////////////////////////////////////
 */

#menuMusicaInicial {
	width: 70%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: inline-block;
	margin-left: 5%;
	border-radius: 25px;
	border: 5px solid #3F2D00;
	background: #10303C;
}

#menuMusicaInicial * {
	font-size: 50px;
	text-shadow: #fbfdfd 0 0 3px;
	text-align: center;
}

#menuMusicaInicial #titulo {
	width: 100%;
	height: 20%;
	position: relative;
	top: 10%;
}

#menuMusicaInicial #detalhes {
	width: 100%;
	height: 10%;
	font-size: 25px;
	font-style: italic;
}

#menuMusicaInicial #album {
	width: 30%;
	height: 70%;
	display: inline-block;
	background: url("../imgs/albuns/Three_Days_Grace_-_One-X.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 10px;
	margin-left: 20px;
}

#menuMusicaInicial #botons {
	width: 66%;
	height: 70%;
	display: inline-block;
}

#menuMusicaInicial #botons img {
	width: 15%;
	display: inline-block;
	margin-bottom: 15%;
	margin-left: 10%;
	border-radius: 50%;
	border: 5px solid #3F2D00;
	padding: 15px;
}

#botons #like:not(.liked), #botons #gosto:not(.liked){
background-color: #124C16;
}

#botons #dislike:not(.disliked), #botons #ngosto:not(.disliked)  {
background-color: #601E17;
}

/*
 ////////////////////////////////////////
 Janela Musica tops
 ////////////////////////////////////////
 */

#menuMusicaTop {
	width: 70%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 10px;
}

#menuMusicaTop * {
	margin-left: 2%;
	width: 100%;
	font-size: 18px;
	text-shadow: #fbfdfd 0 0 3px;
}
#menuMusicaTop #timespan {
	text-align: center;
}

#menuMusicaTop div a {
	border-radius: 10%;
	border: 5px solid #3F2D00;
	padding: 10px;
}

#menuMusicaTop div a:not(.current) {
	background-color: #BC9C4E;
}

#menuMusicaTop #tabelaMusicas {
	text-align: left;
}

#menuMusicaTop #tabelaMusicas li {
	margin-top: 15px;
	border-radius: 10%;
	border: 5px solid #3F2D00;
	background-color: #BC9C4E;
	padding: 5px;
}

#menuMusicaTop #tabelaMusicas a {
	width: 60%;
	display: inline-block;
}
#menuMusicaTop #tabelaMusicas #botons {
	text-align: right;
	position: relative;
	bottom: 15%;
	width: 33%;
	display: inline-block;
}
#menuMusicaTop #tabelaMusicas img {
	width: 5%;
	display: inline-block;
	position: relative;
	right: 5%;
	border-radius: 50%;
	border: 2px solid #3F2D00;
	padding: 1px;
}

/*
 ////////////////////////////////////////
 Janela Musica playlist
 ////////////////////////////////////////
 */
#tempoOverlay {
	position: absolute;
	top: 47px;
}

#menuMusicaPlaylist {
	width: 70%;
	display: inline-block;
	position: absolute;
	top: 10px;
	margin-left: 5%;
	border-radius: 25px;
	border: 5px solid #3F2D00;
	background: #10303C;
}

#menuMusicaPlaylist a {
	margin: auto;
	font-size: 40px;
}

#menuMusicaPlaylist #primeira {
	text-align: center;
	font-size: 18px;
	text-shadow: #fbfdfd 0 0 3px;
	max-height: 200px;
	color: white;
}

#menuMusicaPlaylist #primeira .progress {
	background-image: linear-gradient(to bottom, #4D97B3 0, #346476 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

#menuMusicaPlaylist * {
	width: 95%;
	height: 85%;
	text-shadow: #fbfdfd 0 0 3px;
	margin-top: 1px;
}
#menuMusicaPlaylist ol {
	color: white;
}

#menuMusicaPlaylist ol a {
	color: black;
}
#menuMusicaPlaylist #tabelaMusicas {
	text-align: left;
	height: 80%;
}

#menuMusicaPlaylist #tabelaMusicas img {
	width: 7%;
	display: inline-block;
	position: relative;
	right: 5%;
	border-radius: 50%;
	border: 2px solid #3F2D00;
	padding: 1px;
	margin-left: 10px;
}

#menuMusicaPlaylist #tabelaMusicas li {
	margin-top: 15px;
	border-radius: 10%;
	border: 5px solid #3F2D00;
	background-color: #BC9C4E;
	padding: 5px;
	height: 30px;
}

#menuMusicaPlaylist #tabelaMusicas a {
	width: 60%;
	display: inline-block;
	margin: 0px;
	font-size: 28px;
	position: relative;
	bottom: 7px;
	left: 5px;
}
#menuMusicaPlaylist #tabelaMusicas #botons {
	text-align: right;
	position: relative;
	bottom: 15%;
	width: 33%;
	display: inline-block;
	margin-top: 5px;
}

/*
 ////////////////////////////////////////
 Janela Musica FAvoritos carousel
 ////////////////////////////////////////
 */

#carousel {
	overflow-y: hidden;
}

#carousel img {
	max-width: 500px;
	max-height: 500px;
}

#carousel button {
	color: #543D81;
}

#carousel *.flipster__nav__child {
	background-color: #543D81;
}
