.wrapper{
  perspective: 700;
  margin: 0 auto;
  padding: 30px;
  width: 45%;
  height: 150px;
}

.student-profile{
  width: 32%;
  height: 100%;
  border: thin solid black;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.wrapper{
  transform: skewX(20deg);
}

.student-profile:hover{
  transform: rotateY(180deg);
}

.student-profile.a1{
  float: left;
  background: yellow;
}

.student-profile.a2{
  float: right;
  background: blue;
}

.student-profile.a3{
  margin: auto;
  background: red;
}
