header {
	
	text-align: left;
	width: 90%;
	height:200px;
	margin:auto;
	
	background-image: url("bg2.png");
	background-repeat: no-repeat;
/*	
	
	margin: auto;
	padding-top: 20px;
	background-image: url("istBackground.jpg"), url("IST_A_RGB_POS.png");
	background-position: center, left;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 25%;
	*/
}

h1 {
	width: 50%;
	
	position: absolute;
	right: 100px;
}

*.titulo {
	
	position: relative;
	top: 20px;
	margin-top: 10px;
	
}

body {
	font-family:calibri; 
	text-align: center;
	

}

table {
	position: relative;
	top: 20px;
	text-align: center; 
	margin: auto;
	background-color: #A0A0A0;
	width: 80%;
	max-height: 300px;
}

tr {
	background-color: aquamarine;
}

tr.perfil-imagem {
	height: 40px;
	
}
tr.perfil-nome {
	height: 28px;
	font-size: 120%;
}


/*************************************
SCALE perfil-imagem
**************************************/
/* On Hover */
tr.perfil-imagem>td:hover {
	opacity: 1;
	background-color: #f5f5f5;
	transition-duration: 0.8s;
	transform: scale(1.05);
}

/* Out Hover */
tr.perfil-imagem>td {
	opacity: 0.7;
	background-color: aquamarine;
	transition-duration: 0.65s;
	transform: scale(); /* back to normal*/
}

/*************************************
FLIP -> perfil-nome / numero
**************************************/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateX(180deg);
}

.flip-container, .front, .back {
	height: 28px;
}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
	opacity: 0.8;
	background-color: #f5f5f5;
}


